name: Conan Build

on:
  workflow_call:
    inputs:
      platform:
        required: false
        default: 'ubuntu-24.04'
        type: string
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: string
      malloc-impl:
        required: true
        type: string
      tooling:
        required: false
        type: string
        default: 'None'
      testing:
        required: false
        type: string
        default: 'False'
  workflow_dispatch:
    inputs:
      platform:
        required: true
        type: choice
        options:
          - ubuntu-24.04
        default: 'ubuntu-24.04'
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
      malloc-impl:
        description: 'Allocation Library'
        required: true
        type: choice
        options:
          - libc
          - tcmalloc
          - jemalloc
      tooling:
        required: false
        type: choice
          - 'Sanitize'
          - 'Coverage'
          - 'None'
        default: 'None'
      testing:
        description: 'Build and Run'
        required: true
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'True'

jobs:
  BuildUblkPPDeps:
    runs-on: ${{ inputs.platform }}
    steps:
    - name: Retrieve Code
      uses: actions/checkout@main
      with:
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'True' }}

    - name: Retrieve Recipe
      uses: actions/checkout@main
      with:
        repository: szmyd/ublkpp
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'False' }}

    - name: Setup Conan
      uses: ebay/sisl/.github/actions/setup_conan2@master
      with:
        platform: ${{ inputs.platform }}
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Load UblkPP Cache
      id: restore-cache
      uses: ebay/sisl/.github/actions/load_conan2@master
      with:
        testing: ${{ inputs.testing }}
        key_prefix: UblkPPDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}

    - name: Load Sisl Cache
      uses: eBay/sisl/.github/actions/load_conan2@master
      with:
        load_any: 'True'
        key_prefix: SislDeps13-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Retrieve Dependencies
      uses: actions/checkout@main
      with:
        repository: eBay/iomanager
        path: import/iomgr
        ref: master
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Load IOMgr Cache
      uses: eBay/sisl/.github/actions/load_conan2@master
      with:
        testing: 'False'
        path: import/iomgr
        key_prefix: IOMgrDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}
        fail_on_cache_miss: true
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Prepare Recipes
      run: |
        sudo apt-get install -y python3-pyelftools libaio-dev
        conan export --user oss --channel master import/iomgr
        ./prepare_v2.sh
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Build Cache
      run: |
        conan install \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o ublkpp/*:homeblocks=False \
            -s:h build_type=${{ inputs.build-type }} \
            -s:a compiler.cppstd=23 \
            -c tools.build:skip_test=True \
            --format=json \
            --build missing \
            . > ~/build.json
        conan list --graph ~/build.json --graph-binaries=build --format=json > ~/pkglist.json

    - name: Save Conan Cache
      uses: ebay/sisl/.github/actions/store_conan2@master
      with:
        key_prefix: UblkPPDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}
      if: ${{ github.event_name != 'pull_request' && steps.restore-cache.outputs.cache-hit != 'true' && inputs.tooling != 'Coverage'}}

    - name: Create and Test Package
      run: |
        sanitize=$([[ "${{ inputs.tooling }}" == "Sanitize" ]] && echo "True" || echo "False")
        coverage=$([[ "${{ inputs.tooling }}" == "Coverage" ]] && echo "True" || echo "False")
        python -m pip install gcovr
        conan build \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o ublkpp/*:homeblocks=False \
            -o ublkpp/*:sanitize=${sanitize} \
            -o ublkpp/*:coverage=${coverage} \
            -s:h build_type=${{ inputs.build-type }} \
            -s:a compiler.cppstd=23 \
            .
        gcovr --cobertura ./coverage.xml
      if: ${{ inputs.testing == 'True' }}

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.xml
        disable_search: true
      if: ${{ inputs.tooling == 'Coverage' }}
